@use "../../scss/helpers/import" as *;

.component {
  min-height: 500px;
}
.wrapper {
  @include centered($max-width);
  & {
    margin: {
      top: $standard-vertical-spacing;
      bottom: $standard-vertical-spacing;
    }
  }
}

.title{
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}

.product {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 15px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  border-radius: 8px;
  &_image {
    width: 100%;
    height: 250px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
  }
  &_title {
    margin: 0;
  }
  &_price {
    margin: 0 0 15px 0;
  }
  &_buy {
    @extend %button-round;
    margin-top: auto;
  }
  &:hover {
    .product_image {
      img {
        transform: scale(1.10);
        transition: all 0.3s $ease-out-quint;
      }
    }
  }
  &:not(:hover) {
    .product_image {
      img {
        transform: scale(1);
        transition: all 0.3s $ease-out-quint;
      }
    }
  }
}
