@use '../../scss/helpers/import' as *;

.component{}

.cookieBanner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba($color: $gray-900, $alpha: 0.8);
  color: #fff;
  padding: 20px;
  text-align: center;
  z-index: 1000;

  p {
    margin: 0;
    padding: 0;
  }

  .buttons {
    margin-top: 10px;

    button {
      background-color: $red-100;
      color: #fff;
      border: none;
      padding: 10px 20px;
      margin: 0 10px;
      cursor: pointer;
      border-radius: 5px;

      &:nth-child(2) {
        background-color: $gray-600;
      }
    }
  }
}