@use '../../scss/helpers/import' as *;

.component{

}
.wrapper{
    @include centered($max-width);
    & {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: {
            top: $standard-vertical-spacing;
            bottom: $standard-vertical-spacing;
        };
        padding: 60px 0;
        height: auto;
    }
    @include responsive (md) {
        flex-direction: column;
        padding: 0;
        gap: 30px;
    }
}

.images{
    width: calc(50% + 60px);
    height: calc(50vw + 60px);
    max-height: 780px;
    position: relative;
    overflow: hidden;
    @include responsive (md) {
        width: 100%;
        height: calc(100vw - 60px);
    }
}

.image1{
    position: absolute;
    width: calc(54 / 66 * 100%);
    padding-top: calc(54 / 66 * 100%);
}

.image2{
    position: absolute;
    width: calc(48 / 66 * 100%);
    padding-top: calc(36 / 66 * 100%);
    right: 0;
    bottom: 0;
}

.text {
    width: calc(50% - 60px);
    max-width: 420px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    @include responsive (md) {
        width: 100%;
        max-width: unset;
        margin-left: 0;
    }
}