@use "./values.scss" as *;
@use "./helpers/timing-functions.scss" as *;
// Put all psuedoclasses and/or mixins here.
// Important!! -- This should not contain any printable css.

%nav {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

%eyebrow {
  font-size: 14px;
  line-height: 17px;
}

%button {
  display: block;
  background-color: $blue;
  color: $white;
  padding: 15px 30px;
  text-align: center;
  @extend %nav;
  &:hover {
    color: $white;
    background-color: $red-100;
    transition: all 0.3s $ease-out-quint;
  }
  &:not(:hover) {
    transition: all 0.3s $ease-out-quint;
  }
}

%button-round {
  display: block;
  background-color: $blue;
  color: $white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
  &:hover {
    color: $white;
    background-color: $red-100;
    transition: all 0.3s $ease-out-quint;
  }
  &:not(:hover) {
    transition: all 0.3s $ease-out-quint;
  }
}