@use '../../scss/helpers/import' as *;

.component{
    height: 50vh;
    padding: 60px 0;
}

.image{
    position: relative
}

.wrapper{
    @include centered($max-width);
    & {
        margin: {
            top: $standard-vertical-spacing;
            bottom: $standard-vertical-spacing;
        };
    }
}
