@import '../../scss/helpers/import';

.component{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $black;
    min-height: 350px;
    @include scroll-animation($anim: fromTop, $speed: 1000ms, $delay: 250ms );
    position: relative;
    overflow-x: clip;

}

.wrapper{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.inner{
    @include centered ($max-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    overflow: hidden;
    padding: 50px 0px;
    p{
        max-width: 70%;
        color: $white;
    }
    @include responsive(md){
        padding: 20px 0px;
    }
}

.link_wrapper {
    display: block;
    margin: 0;
    padding: 0;
    column-gap: 30px;
    column-count: 2;
    li{
        list-style: none;
    }
    @include responsive(md){
        column-count: 1;
    }
}

.link{
    display: block;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: $dk-navy;
    padding: 10px 0;
}

.disclaimer{
    width: 60%;
    height: auto;
    color: $white;
    @include responsive(md){
        width: 80%;
    }
}

.social{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    &_wrapper{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        height: 40px;
    }
    img{
        width: 100%;
        height: 100%;
    }
}
