"use client"

import styles from './{{pascalCase name}}.module.scss';

export default function {{pascalCase name}}({content}) {
  return(
    <div className={styles.component}>
      <h5>{{name}}</h5>
    </div>
  );
}