"use client"

import styles from './{{pascalCase name}}.module.scss';

interface FullPageHeroProps {
  content: any; // Replace 'any' with the appropriate type
}

export default function {{pascalCase name}}({content}: {{pascalCase name}}) {
  return(
    <div className={styles.component}>
      <div className={styles.wrapper}>
        <h5>{{name}}</h5>
      </div>
    </div>
  );
}