@use "../../scss/helpers/import" as *;

.component {
  display: block;
  @include responsive (lg) {
    display: none;
  }
}

.wrapper {
  // @include centered($max-width);
  & {
    margin: {
      top: 0;
      bottom: 0;
    }
    position: relative;
  }
}

.bubbles_scroller {
  display: flex; 
  overflow: hidden;
  // gap: 120px;
}

.bubbles_wrapper {
  min-width: 100%;
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
  padding: 60px;
  background-color: $white;
  &:nth-of-type(2n - 1) {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
}

.bubbles_inner {
  @include centered($max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 30px;
  row-gap: 20px;
  height: 100%;
  position: relative;
  &_first {
    @extend .bubbles_inner;
  }
}

.bubble {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  grid-row: 1/4;
  position: relative;
  &_title {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-weight: bold;
    &_first {
      @extend .bubble_title;
      transform: translateY(-50px);
      opacity: 0;
      transition: all 0.5s $ease-out-quint 500ms;
      [data-in-view=true] &{
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  &_content{
    display: block;
    text-align: center;
    &_first {
      @extend .bubble_content;
      opacity: 0;
      transform: translateY(50px);
      transition: all 0.5s $ease-out-quint 500ms;
      [data-in-view=true] &{
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  &:nth-last-of-type(2n) {
    padding: 0;
    grid-column: 2/3;
    grid-row: 3/4;
  }
  &_first {
    @extend .bubble;
  }
}

.image {
  position: relative;
  width: 80%;
  padding-top: 80%;
  border-radius: 50%;
  overflow: hidden;
  &_first {
    @extend .image;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s $ease-out-quint 500ms;
    [data-in-view=true] &{
      transform: scale(1);
      opacity: 1;
    }
  }
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: bold;
  &_first {
    @extend .title;
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.5s $ease-out-quint 250ms;
    [data-in-view=true] &{
      transform: translateY(0);
      opacity: 1;
    }
  }
}