@use '../../scss/helpers/import' as *;

.component{}
.wrapper{
    @include centered($max-width);
    & {
        margin: {
            top: $standard-vertical-spacing;
            bottom: $standard-vertical-spacing;
        };
    }
}