@use "../../scss/helpers/import" as *;

.component {


}

.overlay{
  background-color: $black;
  padding-top: 240px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: $white;
    clip-path: ellipse(55% 70% at 50% 110%);
  }
  @include responsive (sm) {
    &::before {
      clip-path: ellipse(55% 50% at 50% 110%);
    }
  }
}

.wrapper {
  @include centered($max-width);
  & {
    margin: 0 auto;
  }
}
